<script lang="ts">
// 框架
import { defineComponent, ref, reactive, onMounted } from "vue";
// 组件
// 工具
// 接口
// 数据
// 类型
export default defineComponent({
  name: "<%= data.name %>",
});
</script>

<script lang="ts" setup>
// 公共业务
const data = ref(null)

// 独立业务

// 生命周期
onMounted(() => {})

</script>

<template>
  <div class="<%= data.name %>">
    <%= data.name %>
  </div>
</template>

<style scoped lang="less">
  .<%= data.name %> {}
 </style>
    